@mixin background-cover() {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin animation($animationType) {
  -webkit-animation: $animationType; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: $animationType; /* Firefox < 16 */
      -ms-animation: $animationType; /* Internet Explorer */
       -o-animation: $animationType; /* Opera < 12.1 */
          animation: $animationType;
}

@mixin animation-fill-mode($animationMode) {
  -webkit-animation-fill-mode: $animationMode;
  -moz-animation-fill-mode: $animationMode;
  animation-fill-mode: $animationMode;
}

@mixin animation-delay($detail) {
  -webkit-animation-delay: $detail;
  -moz-animation-delay: $detail;
  animation-delay: $detail;
}

@mixin box-shadow($shadowType) {
  -webkit-box-shadow: $shadowType;
  -moz-box-shadow: $shadowType;
  -ms-box-shadow: $shadowType;
  -o-box-shadow: $shadowType;
  box-shadow: $shadowType;
}

.about-page {
  padding-top: 150px;
  padding-bottom: 30px;

  .fadein {
    opacity: 0;

    @include animation(fadein 2s);
    @include animation-fill-mode(forwards);
  }

  .about-image {
    @include animation-delay(0.3s);
    display: flex;
    justify-content: center;
    align-items: center;

    .image {
      height: 550px;
      position: absolute;
      margin-top: 13em;

      &.bg {
        opacity: 50%;
      }
    }
  }

  .headline {
    color: $white;
    text-align: center;
    margin-top: 10em;
  }

  .details {
    margin-top: 10vh;
    color: $white;
    text-align: left;
  }

  .title {
    @include animation-delay(0.7s);
    font-size: 90px;
    font-weight: bold;
    margin-bottom: 55px;
  }

  .subtitle {
    @include animation-delay(2.2s);
    font-size: 33px;
    white-space: pre-wrap;
  }

  .subsubTitle {
    @include animation-delay(3.6s);
    font-size: 18px;
  }

  .skills-icons {
    padding-bottom: 50px;
    @include animation-delay(3.6s);

    .skills-icons-row {
      justify-content: center;
      padding-top: 30px;
    }

    .row {
      justify-content: center;
      padding-top: 30px;
    }

    .fade-in {
      transition: all 0.4s ease 0s;
    }
    
    @media (max-width: 767px) {
      .skills {
        margin: 10px;
      }
    }  
  }

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
}
