// MIXINS
@mixin background-cover() {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin animation($animationType) {
  -webkit-animation: $animationType; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: $animationType; /* Firefox < 16 */
      -ms-animation: $animationType; /* Internet Explorer */
       -o-animation: $animationType; /* Opera < 12.1 */
          animation: $animationType;
}

@mixin animation-fill-mode($animationMode) {
  -webkit-animation-fill-mode: $animationMode;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: $animationMode;
  animation-fill-mode: $animationMode;
}

@mixin animation-delay($detail) {
  -webkit-animation-delay: $detail;
  -moz-animation-delay: $detail;
  animation-delay: $detail;
}

@mixin box-shadow($shadowType) {
  -webkit-box-shadow: $shadowType;
  -moz-box-shadow: $shadowType;
  -ms-box-shadow: $shadowType;
  -o-box-shadow: $shadowType;
  box-shadow: $shadowType;
}

.about-page {
  padding-top: 150px;
  padding-bottom: 30px;

  .about-image {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-image: url('../../public/images/about-bg-md.png');
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */

    // .image {
    //   height: 500px
    // }
  }

  .headline {
    color: $white;
    text-align: center;
  }

  .details {
    margin-top: 10vh;
    color: $white;
    text-align: left;
  }

  .fadein {
    opacity: 0;

    @include animation(fadein 2s);
    @include animation-fill-mode(forwards);
  }

  .title {
    @include animation-delay(0.7s);
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 55px;
  }

  .subtitle {
    @include animation-delay(2.2s);
    font-size: 33px;
    white-space: pre-wrap;
  }

  .subsubTitle {
    @include animation-delay(3.6s);
    font-size: 18px;
  }

  .aboutme {
    @include animation-delay(3.6s);
    margin-top: 55px;
    white-space: pre-wrap;

    .header {
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 25px;
    }
  }

  .skills-icons {
    padding-bottom: 50px;
    @include animation-delay(3.6s);

    .row {
      justify-content: center;
      padding-top: 30px;
    }
  
    .skills {
      margin: 10px;
      font-size: 75px;
      border: 2.7px solid $cornflower-faded;
      text-align: center;
      border-radius: 10px;
      line-height: 1.6;
      transition: all 0.4s ease 0s;
      @include box-shadow(2px 3px 2px 1px $endeavour-faded);
    
      .icon {
        line-height: 2;
      }
    
      &:hover {
        transform: scale(1.05);
        border-radius: 10px;
        @include box-shadow(0px 0px 20px 0px $dodger-blue-faded);
      }
    }
    
    @media (max-width: 767px) {
      .skills {
        margin: 10px;
      }
    }  
  }

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
}

