@import '@/styles/mixins';

.about-page {
  padding-top: 150px;
  padding-bottom: 30px;

  .fadein {
    opacity: 0;

    @include animation(fadein 2s);
    @include animation-fill-mode(forwards);
  }

  .about-image {
    @include animation-delay(0.3s);
    display: flex;
    justify-content: center;
    align-items: center;

    .image {
      height: 550px;
      position: absolute;
      margin-top: 7em;

      @media (max-width: 991px) {
        margin-top: 3em;
      }

      &.bg {
        opacity: 50%;

        @media (max-width: 991px) {
          opacity: 30%;
        }
      }
    }
  }

  @media (max-width: 991px) {
    .about-details {
      padding: 0px;
    }

    .about-image {
      right: 8px;
    }
  }

  .headline {
    color: $white;
    text-align: center;
    margin-top: 10em;
  }

  .details {
    margin-top: 10vh;
    color: $white;
    text-align: left;

    @media (max-width: 991px) {
      margin-top: 0;
    }
  }

  .title {
    @include animation-delay(0.7s);
    font-size: 90px;
    font-weight: bold;
    margin-bottom: 55px;

    @media (max-width: 991px) {
      font-size: 42px;
    }
  }

  .subtitle {
    @include animation-delay(2.2s);
    font-size: 33px;
    white-space: pre-wrap;

    @media (max-width: 991px) {
      font-size: 20px;
    }
  }

  .subsubTitle {
    @include animation-delay(3.6s);
    font-size: 18px;
  }

  .skills-icons {
    padding-bottom: 50px;
    margin-top: 2em;
    @include animation-delay(3.6s);

    .skills-icons-row {
      justify-content: center;
      display: inline-flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
    }

    .row {
      justify-content: center;
      padding-top: 30px;
    }

    .fade-in {
      transition: all 0.4s ease 0s;
    }
    
    @media (max-width: 767px) {
      .skills {
        margin: 10px;
      }
    }  
  }

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
}
