.technical-experience {
  color: $white;
  margin-top: 2em; // 100px;
  text-align: center;
  // margin-top: 380px;

  .tagline {
    margin: 0 auto 25px auto;

    h1 {
      font-size: 46px;
      font-weight: bold;
    }
  }

  .description {
    font-size: 24px;
    text-transform: none;
    margin-bottom: 100px;
  }

  .developer-experience {
    text-align: center;
    margin-bottom: 75px;

    h4 {
      font-weight: bold;
    }

    p {
      font-size: 18px;
    }
  }

  .developer-image {
    height: 150px;
    margin-bottom: 25px;
  }
}

.hero-resume {
  margin-top: 2em; // 1em;
  
  &.btn {
    padding: 8px 22px;
    background-color: $matisse-faded;
    border: none;
    font-weight: bold;
  }
}
