$black: #000000;
$bunting: #140e42;
$gallery: #ececec;
$golden-grass: #dba919;
$gulf-blue: #0e045d;
$limed-spruce: #354a4c;
$san-marino: #4975a8;
$white: #ffffff;

$black-pearl-faded: #09051d2c;
$blue-charcoal-faded: #00051da6;
$san-juan-faded: #344c795d;
$stratos-faded: #000b4269;