.footer {
  text-align: center;
  color: $white;
  margin-top: 100px;
  padding-bottom: 30px;

  .site-links {
    margin-bottom: 10px;

    &.links {
      margin-bottom: 20px;
    }

    &-link {
      color: $white;
      padding: 6px 22px;
      text-decoration: none;
      transition: 0.5s ease-out;
      border-radius: 5px;
      font-size: 14px;
      
      &:hover {
        background-color: $san-juan-faded;
        transition: 0.5s ease-in;
      }
    }

    &-icon {
      color: $white;
      font-size: 20px;
      text-decoration: none;
      margin-left: 12px;
      margin-right: 20px;
    }

    .icon {
      transition: 0.3s ease-out;
      &:hover {
        // color: $san-marino;
        border-radius: 50px;
        box-shadow: inset 0px 0px 20px 20px $dodger-blue-faded;
        // background-color: yellow;
        transition: 0.3s ease-in;
      }
    }
  }
}