@keyframes sway {
  0%   { transform: translateX(0) translateY(0); }
  50%  { transform: translateX(25px) translateY(-30px); }
  100% { transform: translateX(0) translateY(0); }
}

.sway {
  animation-name: sway;
  animation-timing-function: linear;
}


.home-page {
 padding: 0px !important;

  .home-container {
    padding-bottom: 9em;
    margin-top: 7em;

    @media (max-width: 991px) {
      margin-top: 4em;
      padding-bottom: 0px;
    }
    

    .home-welcome-wrapper {
      justify-content: flex-end;

      .home-welcome-headline {
        margin-bottom: 20px;
      
        h1 {
          color: $white;
          text-transform: uppercase;
          font-size: 60px;
          margin-top: 70px;
          font-weight: bold;
          
          @media (max-width: 991px) {
            margin-top: 10px;
            font-size: 43px;
          }
        }
      }

      .home-welcome-text {
        margin-bottom: 20px;
        width: 85%;

        @media (max-width: 991px) {
          width: 100%;
        }
      
        h3 {
          color: $white;
          font-size: 24px;
          margin-top: 20px;

          @media (max-width: 991px) {
            font-size:  17px;
          }
        }
      }

      .home-resume {
        margin-top: 4em;
        display: flex;

        .resume-btn {
          @media (max-width: 991px) {
            display: flex;
            margin: 0 auto 0 auto;
            margin-bottom: 23px;
          }
        }
        
        .btn {
          padding: 9px 22px;
          background-color: $matisse-faded;
          border: none;
          font-weight: bold;
          border-radius: 5px;
          margin-top: 0 auto;
          margin-right: 1em;
          margin-left: 15px;

 
      
          .text {
            top: 2px;
            position: relative;
          }
      
          &:focus {
            box-shadow: none;
          }
        }

        .home-links {
          vertical-align: middle;
          display: flex;

          @media (max-width: 991px) {
            margin: 0 auto;
          }
        }
      
        .profile-icons {
          color: $white;
          margin: auto 0 auto 1em;
          padding: 8px 22px;
          border-radius: 5px;
          transition: 0.5s ease-in;
          text-decoration: none;
      
          .icon {
            font-size: 28px;
            vertical-align: middle;
          }
      
          .text {
            vertical-align: bottom;
            margin-left: 7px;
          }
      
          &:hover {
            background-color: $san-juan-faded;
            transition: 0.5s ease-in;
            cursor: pointer;
          }
        }
      }
    }

    .home-image {
      display: flex;
      justify-content: center;
      align-items: center; 

      @media (max-width: 991px) {
        position: absolute;
        top: 18em;
        z-index: -1;
      }
      
      .image {
        position: absolute;
        height: 700px;

        @media (max-width: 1025px) {
          height: 555px;
        }
    
        &.fg {
          animation-duration: 15s;
          animation-iteration-count: infinite;

          @media (max-width: 991px) {
            animation-duration: 0s;
            opacity: 40%;
          }
          
        }
    
        &.bg {
          opacity: 15%;

          @media (max-width: 991px) {
            opacity: 40%;
          }
        } 
      }
    }
  }

  .technical-experience {
    color: $white;
    margin-top: 4em;
    text-align: center;
  
    .tagline {
      margin: 0 auto 25px auto;
  
      h1 {
        font-size: 46px;
        font-weight: bold;

        @media (max-width: 991px) {
          font-size: 32px;
        }
      }
    }
  
    .description {
      font-size: 24px;
      text-transform: none;
      margin-bottom: 100px;

      @media (max-width: 991px) {
        font-size: 17px;
      }
    }
  
    .developer-experience {
      text-align: center;
      margin-bottom: 75px;
  
      h4 {
        font-weight: bold;
      }
  
      p {
        font-size: 18px;
      }
    }
  
    .developer-image {
      height: 150px;
      margin-bottom: 25px;
    }
  }

  @media (max-width: 991px) {
    .hero-section {
      width: 341px;
  
      &-content {
        width: 341px;
      }
    }
  
    .home-welcome-text > h1 {
      margin-top: 0px;
    }
  }
}