.skill-card-container {
  margin: 20px;
}

.skill-card {
  height: 9em;
  width: 10em;
  perspective: 600px;

  transition: transform 1s;
  transform-style: preserve-3d;
  display: flex;
}

.skill-card-inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  border: 2.7px solid $cornflower-faded;
  border-radius: 10px;

  &:hover {
    @include box-shadow(0px 0px 20px 0px $dodger-blue-faded);
  }

  &.is-flipped {
    transform: rotateY(180deg);
  }
}

.hovered {
  transition: transform 1s;
  transform-style: preserve-3d;
  transform: scale(1.05);
  border-radius: 10px;
  cursor: pointer;
}

.skill-card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
 
  &.front {
    font-size: 75px;
  }

  &.back {
    background: $royal-blue-faded-2;
    transform: rotateY(180deg);
    border-radius:  8px;
  }

  .card-details {
    font-size: 24px;
    
    .years {
      font-style: italic;
    }
  }
}