.cvresume-section {
  position: relative !important;
  padding-top: 110px !important;
  padding-bottom: 30px !important;
  background-image: var(--section-background-color) !important;
  color: $white !important;
}

.cvresume {
  padding-top: 10px;
  padding-bottom: 50px;
}

.cvresume-left {
  padding-right: 80px !important;
}

.cvresume-right {
  padding-left: 80px !important;
}

@media (max-width: 767px) {
  .cvresume-left {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }

  .cvresume-right {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}
.cvresume .cvresume-title {
  font-size: 2em;
  font-weight: 700;
  padding-top: 30px;
  padding-bottom: 30px;
}

.cvresume .cvresume-item {
  padding: 0 0 10px 25px;
  margin-top: -2px;
  border-left: 2px solid $san-marino;
  position: relative;
}

.cvresume .cvresume-item .cvresume-title {
  line-height: 18px;
  font-size: 0.9em;
  background: $san-juan-faded;
  padding: 8px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.cvresume .cvresume-item ul {
  padding-left: 20px;
  text-align: justify;
}

.cvresume .cvresume-item ul li {
  padding-bottom: 10px;
}

.cvresume .cvresume-item:last-child {
  padding-bottom: 0;
}

.cvresume .cvresume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: $gulf-blue;
  border: 2px solid $san-marino;
}