
.cover {
  overflow: hidden;
  position: relative;
}
  
.wrapper {
  min-height: 100vh;
  min-width: 100vw;
  margin-top: 0;
  position: relative;
}
  
.main-section {
  top: 150px;
  width: 100%;
  padding: 150px 0 0;
}
